.cartBt {
  position: relative;
}

.cartNum {
  color: #FFF;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 400px){
  .cartNum{
    width: 1rem;
    height: 1rem;
  }
}