$primary:#329fb5;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.btn-outline-primary:hover { 
  --bs-btn-hover-color: #fff;
}

.btn-primary{
  --bs-btn-color: #fff;
  --bs-btn-hover-color:#fff;
}

.eCom{
  font-style: italic;
  color: $primary;
  font-size: 25px;
  padding-left: 0.5rem;
  
}


.stars{
  color: #f5eb3b;
  font-size: 30px;
  
  
}

.rating{
  margin-bottom: -5px;
}


@import "./footer.scss";
@import "./navbar.scss";
@import "./productCard.scss";
@import "./checkout.scss";
@import "./cartItem.scss";


